html{
	font-family: Arial;
	font-size: 14px;
}

input{
	display: block;
	margin: 10px auto;
	width: 360px;
	height: 40px;
	font-size: 2em;
}

button{
	display: block;
	margin: 10px auto;
	width: 200px;
	height: 40px;
	font-size: 1.5em;
}

#page-title{
	font-size: 3em;
	text-align: center;
	margin: 20px auto 40px;
}
.searchResult{
	text-align: center;
	font-size: 1.5em;
	margin: 10px 0;
}

.theBoard{
	margin: 20px auto;
	text-align: center;
	color: blue;
}