body{
	font-family: Helvetica, Arial;
	font-size: 24px;
}
.center{
	text-align: center;
}
#nestedBoard{
	background-color: aqua;
}
button{
	width: 80px;
	height: 40px;
}
button:hover{
	background-color: pink;
}
