html,body{
	margin: 0;
	padding: 0;
	text-align: center;
}

.article-box{
	float: left;
	width: 300px;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-right: 10px;
}

img{
	display: block;
	width: 400px;
	height: 300px;
	margin: 10px auto;
}

.headline{
	height: 50px;
}