body{
	font-family: 'Times New Roman', Arial;
	font-size: 16px;
	background-color: rgb(220,220,220);
}
h1{
	text-align: center;
}
#thePaper{
	width: 90%;
	text-align: center;
	margin: 20px auto;
}
.container{
	float: left;
	width: 20%;
	height: 440px;
	margin: 20px;
}
img{
	width: 80%;
}
