body{
	font-family: Times;
}
h1{
	text-align: center;
}
h3{
	text-align: center;
}
main{
	width: 98%;
	margin: 10px auto
}
img{
	display: block;
	width: 80%;
	height: 80%;
	margin: 0 auto;
}
.flickrArticle{
	float: left;
	width: 300px;
	height: 100px;
	margin: 40px auto;
}
