body{
	font-family: Times, Arial;
	font-size: 16px;
}

h1{
	text-align: center;
}

#container{
	width: 90%;
	margin: 20px auto;
}

.box{
	float: left;
	width: 20%;
	height: 460px;
	margin:	20px
}

img{
	width: 100%;
}