html{
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Helvetica', Geneva, Verdana, Arial, sans-serif;
	font-size: 16px;
}

.articleBox{
	float: left;
	margin: 5px 10px;
}

.articleTitle{
	text-align: center;
}