body{
	font-family: Arial;
}

button{
	width: 200px;
	height: 80px;
	font-size: 36px;
	color: white;
	margin: 10px;
}


button#play{
	background-color: red;
}

button#pause{
	background-color: yellow;
}